<ul style="list-style-type: none; background-color: aqua;">
    <li><a href="/home" class="href">Home</a></li>
    <li><a href="/contacts" class="href">Contact</a></li>
    <li><a href="/services" class="href">Services</a></li>
</ul>
<h1>Contact us</h1>